{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

<!-- adi code starts here -->

{% block content %}

<body style="background-color: ghostwhite;">  <!-- background image add kr ithee static madhe aahe ti file signuptrust name aahe-->
  

	<br><br>
	<div class="sign-up-form" style="width: 600px; height: 400px; box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3); background-color: rgba(204, 237, 255, 0.5); text-align: center; padding: auto; margin: auto; border: 1px solid black; border-radius: 35px;">

		
	<div class="container"><br><br><br>
			<div class="row justify-content-center mt-3"><br>
				<div class="col col-md-6">
					<a href="{% url 'post-detail' object.pk %}" class="btn btn-dark"  style="border: 1px solid whitesmoke; font-weight: bolder; width: 140px; border-radius: 20px; margin-top: -200px; margin-bottom: 0px;">Back to post</a>
				</div>
			</div>
			<div class="row justify-content-center mt-3">
				<div class="col col-md-6 border-bottom" style="margin-top: -30px; margin-bottom: 10px;">
					<h5>Delete a post</h5>
				</div>
			</div>

			<div class="row justify-content-center mt-3">
				<div class="col col-md-6 border-bottom mb-4">
					<form class="mb-2" method="post">
						{% csrf_token %}
						<p>Are you sure you want to delete it..?</p>
						<div class="d-grid">
							<button class="btn btn-danger mt-3" style="font-weight: bold; border: 1px solid black;">Delete</button>
						</div>
					</form>
				</div>
			</div>

	</div>

	</div>

</body>
{% endblock content %}

<!-- adi code ends here -->